/* .backChange{
    background-color: red;
} */
.hero{
  
   
}
#left{
    margin-left: 70px;
     margin-top: 100px;
}

.text{
    color: black;
    font-weight: 800;
}

#sayama{
    color: red;
    font-weight: 600;
    text-shadow: 0px 0px 8px gold;
}

#te{
    width: 0px;
    height: 200px;
}
#photo{
    background-image: url(./img/te.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    
}
#icon{
    font-size: 30px;
}

@media screen and (max-width:500px) {
    .hero{
        margin-top: 0px;
    }
}

@media screen and (max-width:950) {
    #left{
        text-align: center;
        
    }
}





